.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #7d60ff; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-card{
    display: flex;
    width:970px;
    height:320px;
    align-items: center;
    justify-content: center;
    margin: auto; 
}

.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow:inset 0 -1px 0 #edeafa;
    border-radius:10px;
    background-color:#ffffff;
    width:890px; 
    height:70px;
}

.headerText{
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 9px;
    cursor: pointer;
}

.menuText{
    text-align:center;
    font-weight:400;
    font-size:17px ;
    font-family:Proxima Nova Rg;
}
.background{
    background-color: '#f8f8ff'
}

.image{
    width: 100%;
    border-radius: 10px;
    background-color: #edeafa;
}

.overview-card{
    display: flex;
    flex-direction: row;
    box-shadow:0 4px 10px rgba(219, 221, 227, 0.5);
    border-radius:10px; 
    background-color:#ffffff;
    width:970px ;
    height:320px;
}

.image-box{
    display: flex;
    width: 320px;
    padding:40px;
}

.owner-image{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #edeafa;
    width: 100%;
}


.owner-details{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 530px;
    padding-right: 40px;
}

.name{
    margin-bottom: 8px;
    margin-top: 0px;
    font-size:32px; 
    width:100%;
    height:40px; 
    color:#20272c;
    font-family:Proxima Nova Lt; 
    font-weight:600;
    line-height: 40px;
}
.follower{
    margin-top: 0px;
    font-size:18px;
    width:100%;
    height:40px;
    color:#6d6c79;
    font-family:Proxima Nova Rg;
    font-weight:"400";
}
.follow-button{
    margin-top: 94px;
    margin-right: 410px;
}

.playlist-card{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow:0 4px 10px rgba(219, 221, 227, 0.5);
    border-radius:10px;
    background-color:#ffffff;
    width:970px;
    height:328px;
}

.playlist-name-text{
    font-size:24px;
    width:320px; 
    height:60px; 
    color:#2f2d40;
    text-align:center;
    font-family:Proxima Nova Lt;
    font-weight:600;
}
.song-image-button{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 240px;
}

.button-backward,.button-forward,.song-image{
    width: 33.33%;
    height: 100%;
}

.song-image{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.backward-button-image{
    width:50px;
    height:50px;
    padding-top: 95px;
    padding-left: 235px;
    padding-right: 40px;
    padding-bottom: 95px;
    cursor: pointer;
}

.forward-button-image{
    width: 50px;
    height: 50px;
    padding-top: 95px;
    padding-left: 40px;
    padding-right: 235px;
    cursor: pointer;
}

.song-name{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.drop-down-item{
    margin-top:8.5px;
    margin-bottom: 8.5px;
    margin-left: 16px;
    font-weight:400;
    font-size:17px;
    font-family:Proxima Nova Rg
}

.drop-down-item-card{
    cursor: pointer;
    width:200px; 
}

.dropdown-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:200px;
    box-shadow:0 8px 20px rgba(152, 152, 187, 0.15);
    border-radius:5px;
    border:1px solid #f8f8ff;
    background-color:#ffffff;
}